body {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background-color: #FAFAFA;
}

main {
    background: #FAFAFA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

h1 {
    width: 176px;
    height: 43px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

h2 {
    width: 158px;
    height: 23px;
    left: 18px;
    top: 316px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.listaDeQuizzes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.listaDeQuizzes h2 {
    margin-top: 35px;
    margin-bottom: 12px;
}

.novoQuizz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    height: 181px;
    top: 100px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

.novoQuizz p {
    width: 250px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #B9B9B9;
}

.novoQuizz button {
    /* botão */
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    /* texto do botão */
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
}

.pagina-quizz {
    margin-top: 69px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.titulo-quizz {
    width: 100%;
    height: 100%;
}

.titulo-quizz img {
    position: relative;
    width: 100vw;
    height: 170px;
    object-fit: cover;
}

.titulo-quizz p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixa-quizz {
    margin-top: 24px;
    width: 375px;
    height: 436px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta-quizz {
    margin: 18px 18px;
    display: flex;
    align-items: center;
}

.opcoes-quizz {
    display: flex;
    flex-wrap: wrap;
}

.opcao {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: -4px;
}

.opcao > p {
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 18px;
}

.pergunta-quizz {
    margin-top: 18px;
    font-weight: bold;
    width: 340px;
    height: 89px;
    background-color: #434CA0;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 22px;
}

.pergunta-quizz p {
    width: 330px;
}

.opcoes-quizz {
    display: flex;
    justify-content: left;
}

.opcao {
    display: flex;
    justify-content: left;
}
.quizzExemplo {
    width: 100%;
    margin-bottom: 32px;
}

.quizzExemplo img {
    position: absolute;
}

.quizzExemplo p {
    position: relative;
    width: 340px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: 18px;
    margin-top: 120px;
    color: white;
}

.escondido {
    display: none;
}

.criacaoQuizz {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background-color: #FAFAFA;
}

.criacaoQuizz p {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 29px;
}

.criacaoQuizz .inputs {
    width: 100vw;
    height: 256px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 9px; 
}

.criacaoQuizz button {
    margin-top: 29px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: white;
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    margin: 29px auto;
}

.inputs input {
    width: 341px;
    height: 46px;
    left: 16px;
    top: 179px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #BABABA;
}

::placeholder {
    padding: 14px;
}