body {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background: #FAFAFA;
}

main {
    background: #FAFAFA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

h1 {
    width: 176px;
    height: 43px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

h2 {
    width: 158px;
    height: 23px;
    left: 18px;
    top: 316px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.listaDeQuizzes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.listaDeQuizzesConteudo {
    display: flex;
    flex-direction: column;
}

.listaDeQuizzes h2 {
    margin-top: 35px;
    margin-bottom: 12px;
}

.novoQuizz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 340px;
    height: 181px;
    top: 100px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

.novoQuizz p {
    width: 250px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #B9B9B9;
}

.novoQuizz button {
    /* botão */
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    /* texto do botão */
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
}

.quizzExemplo {
    width: 340px;
    height: 181px;
    margin-bottom: 16px;
    margin-right: 9px;
    display: flex;
    position: relative;
}

.quizzExemplo img {
    object-fit: cover;
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizzExemplo p {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: 340px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: 18px;
    margin-top: 140px;
    color: white;
    z-index: 3;
}

.seusQuizzesTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.seusQuizzesTitulo > h2 {
    margin: 0;
    width: fit-content;
    height: 30px;
    border-radius: 50px;
}

.fundoIconeMais {
    margin-right: 9px;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #EC362D;
    border-radius: 50px;
}

.fundoIconeMais > img {
    position: absolute;
    top: 9px;
    left: 9px;
}

.gradiente {
    width: 340px;
    height: 60%;
    bottom: 0;
    position: absolute;
    z-index: 2;
    background-image: none, linear-gradient(to top, rgb(0, 0, 0) 5%, transparent);
}

@media (min-width: 1100px) {
    .novoQuizz {
        width: 1037px;
    }

    .quizzExemplo {
        margin-bottom: 12px;
        margin-top: 5px;
    }

    .listaDeQuizzesConteudo {
        width: 1081px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .quizzExemplo p {
        position: relative;
        width: 340px;
        font-family: Roboto;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin-left: 18px;
        margin-top: 140px;
        color: white;
    }

    .seusQuizzesTitulo {
        justify-content: left;
    }

    .seusQuizzesTitulo > h2 {
        margin-right: 18px;
    }
}